 <div id="beer-wrapper">
           <img src="{{this.image_url}}" alt="{{this.name}}"/>
         <h4 class="name-heading">
            <a href="https://ih-beers-api2.herokuapp.com/beers/{{this._id}}">
               {{name}}
            </a>
            
         </h4>
         <p class="tagline-para">{{this.tagline}}</p>
         <p class="description-para">{{this.description}}</p>

     </div>