 <div id="oneBeer-wrapper">
           <img src="{{image_url}}" alt="{{name}}"/>
         <div>
               <h4 class="name-heading">
            <a href="/beers/{{_id}}">
               {{name}}
            </a>
            
         </h4>
         <p class="tagline-para">{{tagline}}</p>
         <p class="description-para">{{description}}</p>
         </div>

     </div>